.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgb(203, 218, 218);
}

.loading{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.blockUI{
    text-align: center;
    &__mask{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #333;
        opacity: 0.5;
        z-index: 9998;
    }

    &__inner{
        text-align: center;
        position: absolute;
        width: 100%;
        top: 45%;
        z-index: 9999;
    }
}