@model IEnumerable<BookingApp.Admin.Model.DTO.CollaboratorDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div id="root">

</div>      

@section Scripts{
    <script src="~/js/collaborator.js"></script>
}